:root {
  --main-bg-color: #8a2be2;
  --main-txt-color: #4d4d4d;
  --main-padding: 20px;
}

html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
body {
  width: 100%;
  max-width: 88rem;
  margin: 0 auto;
  font: 1.6rem/1.25 Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}

/* GLOBAL STYLES */

.row {
  display: flex;
}
.drop-wrapper {
  height: 100%;
}
.col-wrapper {
  background: #efefef;
  border: 1px dashed grey;
  padding: var(--main-padding);
  width: 33.33%;
}
.item {
  background: white;
  height: 100px;
  margin: 10px 0;
}
.item-title {
  padding-top: 8px;
  width: 65%;
}
.item-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}
.color-bar {
  height: 10px;
}
.btn__primary {
  background-color: #5f9ea0;
  border: none;
  color: #fff;
  padding: 3px;
}
.label-wrapper {
  flex: 0 0 100%;
  text-align: center;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.input-container {
  display: table;
  margin: auto auto 20px auto;
}
.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo > * {
  width: 100%;
}

/* END GLOBAL STYLES */

.label__lg {
  font-weight: 300;
  line-height: 1.01567;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

[class*="__lg"] {
  display: inline-block;
  font-size: 1.9rem;
}

